*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(26, 26, 84);
}

.container{
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    width: 60vh;
    border: 2px white solid;
}

form{
    margin: 2rem 0 2rem 0;
}

form input{
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color:rgb(77, 77, 137);
    color: white;
    border: 2px white solid;
}

.dropdown{
    display: flex;
    justify-content: space-between;
}

button{
    display: flex;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(77, 77, 137);
    cursor: pointer;
    color: white;
    border: 2px white solid;
}

i{
    margin-top: 2rem;
}

.select-container{
    display: flex;
    flex-direction: column ;
    border-radius: 0.5rem;
}

#from,#to{
    border-radius: 0.3rem;
    background-color:rgb(77, 77, 137);
    color: white;
    border: 2px white solid
}

.msg{
    
    height: 1.5rem;
    background-color: rgb(77, 77, 137);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    border: 2px white solid;
    border-radius: 0.5rem;
    color: white;
}