*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lavender;
}

.container{
    background-color: blanchedalmond;
    padding: 2rem;
    border-radius: 1rem;
    width: 60vh;
    border: 2px black solid;
}

form{
    margin: 2rem 0 2rem 0;
}

form input{
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: lavender;
}

.dropdown{
    display: flex;
    justify-content: space-between;
}

button{
    display: flex;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(122, 122, 231);
    cursor: pointer;
    color: white;
}

i{
    margin-top: 2rem;
}

.select-container{
    display: flex;
    flex-direction: column ;
    border-radius: 0.5rem;
}

#from,#to{
    border-radius: 0.3rem;
    background-color: lavender;
}

.msg{
    
    height: 1.5rem;
    background-color: lavender;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    border: 2px black solid;
    border-radius: 0.5rem;
}